/* style2.css */

html, body{
    height:100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.wrapper{
    width: 26rem;
    height: 15rem;
}

.content{
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px; /* 상 좌우 하 */
    background-color: whitesmoke;
    align-items: center;
    display: flex;

    flex-direction: row;
    border: 3px #8d8d8d solid;
    border-radius: 30px;
}

.whoami{
    display: flex;
    flex-direction: column;

}

.subwrapper{
    margin: 3px 20px; /* 상하 좌우 */
}

.key{
    font-family: 'SDSamliphopangche_Outline';
    font-size: 1.3em;
}

.value{
    font-family: 'ELAND_Choice_B';
    font-size: 1.2em;
    padding-left: 10px;
    word-spacing: -5px;
}

button{
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
}

img{
    border-radius: 50%;
}

@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media(max-width:540px){
    .wrapper{
        width: 15rem;
        height: 26rem;
    }
    
    .content{
        padding: 10px 10px; /* 상하 좌우*/
        background-color: whitesmoke;
        justify-content: center;
        flex-direction: column;
    }
    
    .subwrapper{
        margin: 2px 20px; /* 상하 좌우 */
    }
    
    img{
        margin-bottom: 5px;
    }
}